<nav class="navbar navbar-default navbar-fixed-top navbar-custom top-nav-short">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <span><img src="{{site.baseurl}}/img/CorcesLab_Brain_WhiteBackground.png" width="23px"></span> {{ site.title }}
      </a>
      <a href="http://www.gladstone.org">
        <img height = "17px" vspace="18px" hspace="0px" src="{{site.baseurl}}/img/Gladstone-Logo-Horizontal-Blue_NoMargin.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {%- for link in site.navbar-links -%}
        {%- assign curkey = link[0] -%}
        {%- assign element = site.data.NavbarIcons[curkey] -%}
        {%- if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {%- for childlink in link[1] -%}
              {%- for linkparts in childlink %}
              <a href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
              {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li> 
            <a href="{{ link[1] | relative_url }}"> <span class="{{ element.icon }}" aria-hidden="true"></span> {{ link[0] }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    </div>

  </div>
</nav>
